@import "../utils/variables";

html, body {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: $-f-barlow;
    font-weight: 400 !important;
    color: $-c-light-blue;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.divider {
    height: 1px;
    background: #383B4B;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    .home__header, .toggle-nav__header, .close-nav__header {
        cursor: pointer;
    }
    .home__header {
        img {
            width: 40px;
            height: 40px;
        }
    }
    .divider {
        display: none;
    }
    .toggle-nav__header {
        cursor: pointer;
        img {
            width: 24px;
            height: 21px;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        background: rgba($color: $-c-white, $alpha: 0.05);
        backdrop-filter: blur(80px);
        width: calc(254px - 32px);
        height: calc(100% - 118px);
        z-index: 1;
        padding: 118px 0 0 32px;
        .close-nav__header {
            position: absolute;
            top: 35px;
            right: 25px;
        }
        a {
            font-family: $-f-barlow-condensed;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            color: $-c-white;
            margin: 0 0 32px 0;
            letter-spacing: 2.7px;
            span {
                font-weight: 700;
                margin-right: 11px;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 24px 0;
    margin: 0 auto;
    .content__main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        font-family: $-f-barlow-condensed;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2.7px;
        text-transform: uppercase;
    }
    h1 {
        font-family: $-f-bellefair;
        font-weight: 400;
        text-transform: uppercase;
        color: $-c-white;
    }
    p {
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        margin: 0 0 60px;
    }
    .explore__main {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: $-c-white;
        text-decoration: none;
        text-align: center;
        position: relative;
        span {
            font-family: $-f-bellefair;
            font-size: 20px;
            color: $-c-dark-blue;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    }
}

@media screen and (min-width: 760px) {
    header {
        .home__header {
            img {
                width: 48px;
                height: 48px;
            }
        }
        .toggle-nav__header {
            display: none;
        }
        padding: 24px 39px !important;
        nav {
            display: flex !important;
            flex-direction: row;
            height: 96px;
            padding: 0 48px;
            width: calc(450px - (48px * 2));
            justify-content: space-between;
            align-items: center;
            .close-nav__header {
                display: none;
            }
            a {
                margin: 0;
                font-size: 14px;
                position: relative;
                span {
                    display: none;
                }
                &.selected {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -39px;
                        left: 0;
                        height: 3px;
                        width: 100%;
                        background: $-c-white;
                    }
                }
                &:hover {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -39px;
                        left: 0;
                        height: 3px;
                        width: 100%;
                        background: $-c-white;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    main {
        padding: 106px 24px 0;
    }
}

@media screen and (min-width: 1350px) {
    header {
        padding: 40px 0 0 55px !important;
        position: relative;
        .divider {
            display: block;
            background: $-c-white;
            opacity: 0.25;
            z-index: 2;
            flex-shrink: 2;
            margin: 0 -30px 0 64px;
        }
        nav {
            position: static;
            width: 830px;
            padding: 0;
            justify-content: center;
            flex-shrink: 0;
            a {
                margin: 0 24px;
                font-size: 16px;
                span {
                    display: inline;
                }
            }
        }
    }
    main {
        .content__main {
            width: 445px;
        }
    }
}