@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

// Colors
$-c-dark-blue: hsl(230, 33%, 7%);
$-c-light-blue: hsl(231, 77%, 90%);
$-c-white: hsl(0, 0%, 100%);

// Typography
$-f-barlow: 'Barlow', sans-serif;
$-f-barlow-condensed: 'Barlow Condensed', sans-serif;
$-f-bellefair: 'Bellefair', serif;