@import "../utils/variables";
@import "../utils/main";

body {
    background: center / cover no-repeat url(../assets/crew/background-crew-mobile.jpg);
}

main {
    h2 {
        color: $-c-white;
        margin: 0 0 32px;
        span {
            opacity: 25%;
            margin-right: 18px;
        }
    }
    .crew-preview__main {
        height: 223px;
    }
    .crew-picker__main {
        margin-bottom: 32px;
        button {
            background: $-c-white;
            opacity: 0.2;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 8px;
            &.selected {
                opacity: 1;
            }
        }
    }
    h3, h1 {
        font-family: $-f-bellefair;
        font-weight: 400;
        color: $-c-white;
        text-transform: uppercase;
    }
    h3 {
        font-size: 16px;
        opacity: 0.5;
        margin: 0 0 8px;
    }
    h1 {
        font-size: 24px;
        margin: 0 0 16px;
    }
    p {
        margin-bottom: 32px;
        max-width: 327px;
    }
    .divider {
        height: 1px;
        background: #383B4B;
        width: 100%;
        margin-bottom: 32px;
    }
    .destination-stat__main {
        text-align: center;
        margin-top: 32px;
        .stat-title__main {
            font-family: $-f-barlow-condensed;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2.3px;
            margin-bottom: 12px;
        }
        .stat-info__main {
            font-family: $-f-bellefair;
            font-size: 28px;
            color: $-c-white;
            text-transform: uppercase;
            margin: 0;
        }
    }
    .animate-next {
        animation: crew-in 0.5s ease-in reverse, crew-out 0.5s ease-out 0.5s reverse;
    }
    .animate-previous {
        animation: crew-out 0.5s ease-out, crew-in 0.5s ease-in 0.5s;
    }
}

@keyframes crew-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200vw);
    }
}

@keyframes crew-in {
    from {
        transform: translateX(-200vw);
    }
    to {
        transform: translateX(0);
    }
}

@media screen and (min-width: 600px) {
    body {
        background: center / cover no-repeat url(../assets/crew/background-crew-tablet.jpg);
    }
    
    main {
        position: relative;
        padding: 124px 88px 0;
        h3 {
            font-size: 24px;
            line-height: 28px;
            order: -1;
        }
        h2 {
            margin: 0 0 24px;
            font-size: 20px;
            letter-spacing: 3.4px;
            position: absolute;
            left: 39px;
            top: 40px;
            order: -1;
        }
        .crew-preview__main {
            height: 572px;
            order: 1;
        }
        .divider {
            display: none !important;
        }
        .crew-picker__main {
            span {
                font-size: 16px;
                margin: 0 40px;
                padding: 0 0 15px;
            }
        }
        h1 {
            font-size: 40px;
            line-height: 45px;
            margin: 0 0 16px;
            order: -1;
        }
        p {
            font-size: 16px;
            line-height: 28px;
            margin: 0 0 40px;
            order: -1;
            height: 84px;
            max-width: 458px;
        }
    }
}

@media screen and (min-width: 1350px) {
    body {
        background: center / cover no-repeat url(../assets/crew/background-crew-desktop.jpg);
    }
    
    main {
        position: relative;
        padding: 264px 165px 0;
        flex-direction: row;
        justify-content: space-between;
        .content__main {
            align-items: flex-start;
            z-index: 2;
            width: unset;
        }
        h2 {
            font-size: 28px;
            left: 165px;
            top: 76px;
        }
        .crew-preview__main {
            width: auto;
            height: 100%;
            position: absolute;
            top: 62px;
            right: 137px;
        }
        .crew-picker__main {
            margin: 0 0 37px 0;
            button {
                width: 15px;
                height: 15px;
                margin: 0 24px 0 0;
            }
        }
        h3 {
            font-size: 32px;
            line-height: 37px;
            margin: 0 0 15px 0;
        }
        h1 {
            font-size: 56px;
            line-height: 64px;
            margin: 0 0 27px 0;
        }
        p {
            text-align: left;
            font-size: 18px;
            max-width: 445px;
            line-height: 32px;
            margin: 0 0 120px 0;
            height: unset;
        }
    }
}