@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
html, body {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 400 !important;
  color: #d2d8f9;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.divider {
  height: 1px;
  background: #383B4B;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
}

header .home__header, header .toggle-nav__header, header .close-nav__header {
  cursor: pointer;
}

header .home__header img {
  width: 40px;
  height: 40px;
}

header .divider {
  display: none;
}

header .toggle-nav__header {
  cursor: pointer;
}

header .toggle-nav__header img {
  width: 24px;
  height: 21px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  width: calc(254px - 32px);
  height: calc(100% - 118px);
  z-index: 1;
  padding: 118px 0 0 32px;
}

header nav .close-nav__header {
  position: absolute;
  top: 35px;
  right: 25px;
}

header nav a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 0 0 32px 0;
  letter-spacing: 2.7px;
}

header nav a span {
  font-weight: 700;
  margin-right: 11px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 24px 0;
  margin: 0 auto;
}

main .content__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

main h1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

main p {
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 60px;
}

main .explore__main {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: white;
  text-decoration: none;
  text-align: center;
  position: relative;
}

main .explore__main span {
  font-family: "Bellefair", serif;
  font-size: 20px;
  color: #0c0e18;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 760px) {
  header {
    padding: 24px 39px !important;
  }
  header .home__header img {
    width: 48px;
    height: 48px;
  }
  header .toggle-nav__header {
    display: none;
  }
  header nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 96px;
    padding: 0 48px;
    width: calc(450px - (48px * 2));
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .close-nav__header {
    display: none;
  }
  header nav a {
    margin: 0;
    font-size: 14px;
    position: relative;
  }
  header nav a span {
    display: none;
  }
  header nav a.selected::after {
    content: "";
    position: absolute;
    bottom: -39px;
    left: 0;
    height: 3px;
    width: 100%;
    background: white;
  }
  header nav a:hover::after {
    content: "";
    position: absolute;
    bottom: -39px;
    left: 0;
    height: 3px;
    width: 100%;
    background: white;
    opacity: 0.5;
  }
  main {
    padding: 106px 24px 0;
  }
}

@media screen and (min-width: 1350px) {
  header {
    padding: 40px 0 0 55px !important;
    position: relative;
  }
  header .divider {
    display: block;
    background: white;
    opacity: 0.25;
    z-index: 2;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    margin: 0 -30px 0 64px;
  }
  header nav {
    position: static;
    width: 830px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  header nav a {
    margin: 0 24px;
    font-size: 16px;
  }
  header nav a span {
    display: inline;
  }
  main .content__main {
    width: 445px;
  }
}

body {
  background: center/cover no-repeat url(../assets/destination/background-destination-mobile.jpg);
}

main {
  padding-bottom: 56px;
}

main h2 {
  color: white;
  margin: 0 0 32px;
}

main h2 span {
  opacity: 25%;
  margin-right: 18px;
}

main .destination-preview__main {
  width: 170px;
  height: 170px;
  margin-bottom: 26px;
}

main .destination-picker__main {
  margin-bottom: 32px;
}

main .destination-picker__main span {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.3px;
  margin: 0 13px;
  position: relative;
  padding-bottom: 12px;
  cursor: pointer;
}

main .destination-picker__main span:hover {
  color: white;
}

main .destination-picker__main span:hover::after {
  content: "";
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

main .selected {
  color: white;
}

main .selected::after {
  content: "";
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

main h1 {
  font-size: 56px;
  margin: 0;
}

main p {
  margin-bottom: 32px;
  max-width: 327px;
}

main .divider {
  height: 1px;
  background: #383B4B;
  width: 100%;
}

main .destination-stat__main {
  text-align: center;
  margin-top: 32px;
}

main .destination-stat__main .stat-title__main {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.3px;
  margin-bottom: 12px;
}

main .destination-stat__main .stat-info__main {
  font-family: "Bellefair", serif;
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

main .animate-next {
  animation: destination-in 0.5s ease-in reverse, destination-out 0.5s ease-out 0.5s reverse;
}

main .animate-previous {
  -webkit-animation: destination-out 0.5s ease-out, destination-in 0.5s ease-in 0.5s;
          animation: destination-out 0.5s ease-out, destination-in 0.5s ease-in 0.5s;
}

@-webkit-keyframes destination-out {
  from {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  to {
    -webkit-transform: translateX(100vw) scale(0.1);
            transform: translateX(100vw) scale(0.1);
  }
}

@keyframes destination-out {
  from {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  to {
    -webkit-transform: translateX(100vw) scale(0.1);
            transform: translateX(100vw) scale(0.1);
  }
}

@-webkit-keyframes destination-in {
  from {
    -webkit-transform: translateX(-100vw) scale(0.1);
            transform: translateX(-100vw) scale(0.1);
  }
  to {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes destination-in {
  from {
    -webkit-transform: translateX(-100vw) scale(0.1);
            transform: translateX(-100vw) scale(0.1);
  }
  to {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@media screen and (min-width: 760px) {
  body {
    background: center/cover no-repeat url(../assets/destination/background-destination-tablet.jpg);
  }
  main {
    position: relative;
    padding: 124px 98px 0;
  }
  main h2 {
    margin: 0 0 24px;
    font-size: 20px;
    letter-spacing: 3.4px;
    position: absolute;
    left: 39px;
    top: 40px;
  }
  main .destination-preview__main {
    width: 300px;
    height: 300px;
    margin: 0 0 53px;
  }
  main .destination-picker__main {
    margin-bottom: 42px;
  }
  main .destination-picker__main span {
    font-size: 16px;
    margin: 0 16px;
    padding: 0 0 15px;
  }
  main h1 {
    font-size: 80px;
    line-height: 92px;
    margin: 0 0 8px;
  }
  main p {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 49px;
  }
  main .destination-stats__main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1350px) {
  body {
    background: center/cover no-repeat url(../assets/destination/background-destination-desktop.jpg);
  }
  main {
    position: relative;
    padding: 175px 160px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .content__main {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 2;
  }
  main h2 {
    font-size: 28px;
    left: 165px;
    top: 76px;
  }
  main .destination-preview__main {
    width: 445px;
    height: 445px;
    margin: 50px 0 0 50px;
  }
  main .destination-picker__main {
    margin: 0 0 37px 0;
  }
  main .destination-picker__main span {
    margin: 0 35px 0 0;
  }
  main h1 {
    font-size: 100px;
    margin: 0 0 14px 0;
  }
  main p {
    text-align: left;
    font-size: 18px;
  }
  main .destination-stats__main {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main .destination-stats__main .destination-stat__main {
    width: 100%;
  }
  main .destination-stats__main .destination-stat__main .stat-title__main {
    font-size: 14px;
  }
  main .destination-stats__main .destination-stat__main .stat-info__main {
    font-size: 28px;
  }
}
/*# sourceMappingURL=destination.css.map */