@import "../utils/variables";
@import "../utils/main";

body {
    background: center / cover no-repeat url(../assets/technology/background-technology-mobile.jpg);
}

main {
    h2 {
        color: $-c-white;
        margin: 0 0 32px;
        span {
            opacity: 25%;
            margin-right: 18px;
        }
    }
    .tech-preview__main {
        width: calc(100% + 48px);
        height: auto;
        margin-bottom: 34px;
    }
    .tech-picker__main {
        margin-bottom: 26px;
        button {
            font-family: $-f-bellefair;
            font-size: 16px;
            color: $-c-white;
            width: 40px;
            height: 40px;
            margin: 0 8px;
            border-radius: 50%;
            background: $-c-dark-blue;
            border: 1px solid $-c-white;
            &.selected {
                background: $-c-white;
                color: $-c-dark-blue;
            }
        }
    }
    h3 {
        font-family: $-f-barlow-condensed;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 2.3px;
        text-transform: uppercase;
        margin: 0 0 9px 0;
    }
    h1 {
        font-family: $-f-bellefair;
        font-size: 24px;
        font-weight: 400;
        margin: 0 0 16px 0;
    }
    .animate-next {
        animation: tech-in 0.3s linear reverse, tech-out 0.3s linear 0.3s reverse;
    }
    .animate-previous {
        animation: tech-out 0.3s linear, tech-in 0.3s linear 0.3s;
    }
}

@keyframes tech-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

@keyframes tech-in {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}

@media screen and (min-width: 760px) {
    body {
        background: center / cover no-repeat url(../assets/technology/background-technology-tablet.jpg);
    }
    
    main {
        position: relative;
        padding: 124px 155px 0;
        h3 {
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 16px;
        }
        h2 {
            margin: 0 0 24px;
            font-size: 20px;
            letter-spacing: 3.4px;
            position: absolute;
            left: 39px;
            top: 40px;
        }
        .tech-preview__main {
            width: 100vw;
            margin: 0 0 56px;
        }
        .tech-picker__main {
            margin: 0 0 44px;
            button {
                width: 60px;
                height: 60px;
                font-size: 24px;
            }
        }
        h1 {
            font-size: 40px;
            line-height: 45px;
            margin: 0 0 16px;
        }
        p {
            font-size: 16px;
            line-height: 28px;
        }
    }
}

@media screen and (min-width: 1350px) {
    body {
        background: center / cover no-repeat url(../assets/technology/background-technology-desktop.jpg);
    }
    
    main {
        position: relative;
        padding: 250px 0 0 165px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        .content__main {
            align-items: flex-start;
            z-index: 2;
            width: unset;
        }
        h2 {
            font-size: 28px;
            left: 165px;
            top: 76px;
        }
        .tech-preview__main {
            width: 515px;
            height: auto;
            position: absolute;
            top: 163px;
            right: 0;
        }
        .tech-picker__main {
            display: flex;
            flex-direction: column;
            margin: 0 80px 0 0;
            button {
                width: 80px;
                height: 80px;
                margin: 0 0 32px 0;
                font-size: 32px;
            }
        }
        h3 {
            font-size: 32px;
            line-height: 37px;
            margin: 0 0 15px 0;
        }
        h1 {
            font-size: 56px;
            line-height: 64px;
            margin: 0 0 27px 0;
        }
        p {
            text-align: left;
            font-size: 18px;
            max-width: 445px;
            line-height: 32px;
            height: unset;
            margin: 0;
        }
    }
}